agm-map {
	height: calc(100vh - 64px);
	float: left;
	width: 100%;
}
.map{
	width: 50%;
}
mat-card {
	width: 50%;
	box-sizing: border-box;
	float: right;
	height: calc(100vh - 64px);
}
.container {
	position: relative;
	width:100%;
}