agm-map {
	height: calc(100vh - 64px);
	float: left;
	width: 100%;
}
.map{
	width: 100%;
}
mat-card {
	width: auto;
	position: absolute;
	box-sizing: border-box;
	top: 5px;
	right: 5px;
	height: auto;
}
.container {
	position: relative;
	width:100%;
}